* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #333;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 30px 0;
    background: linear-gradient(135deg, #2980b9, #6dd5fa); /* Gradient header */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.turn-back-link {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.turn-back-link:active {
    background-color: rgb(240, 240, 240);
}

.top-section h1 {
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin: 0 100px;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rules-container, .history-container {
    width: 90%;
    padding: 30px;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.rules-container h1, .history-container h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(15, 129, 182);
    text-align: center;
}

.introduction {
    font-size: 20px;
    color: rgb(150, 150, 150);
    text-align: center;
    box-sizing: unset;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(230, 230, 230);
}

.rule {
    margin-top: 30px;
}

.rule h2 {
    color:rgb(15, 129, 182);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.rule p {
    color: rgb(100, 100, 100);
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    text-indent: 20px;
}

.time-input-group {
    width: 90%;
    padding: 20px;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(230, 230, 230);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-input-group label,  .time-input-group span{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(100, 100, 100);
}

.time-input {
    width: 10%;
    min-width: 70px;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(100, 100, 100);
}

.submit-btn {
    width: 50%;
    max-width: 500px;
    background-color: rgb(0, 180, 120);
    padding: 20px 40px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.submit-btn:active {
    background-color: rgb(0, 180, 180);
}

.exam-container {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    width: 100%;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    margin-bottom: 10px;
}

.exam-container:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.exam-name {
    font-size: 25px;
    font-weight: 500;
}

.delete-exam {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: white;
    font-size: 30px;
    font-weight: 500;
    width: 80%;
    max-width: 200px;
    padding: 15px 0;
    border-radius: 5px;
    cursor: pointer;
}

.access-exam {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    color: white;
    font-size: 30px;
    font-weight: 500;
    width: 80%;
    max-width: 200px;
    padding: 15px 0;
    border-radius: 5px;
    cursor: pointer;
}

.empty-list {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}